.about {
    width: 100%;
    height: 100%;
    padding: 70px 10px;
    gap: 100px;
    padding-top: 200px;

    .about-title {
        text-align: center;

        h1 {
            margin-bottom: 20px;
            font-size: 40px;
            color: #3F485E;
        }

        .title-description {
            width: 550px;

            p {
                color: #77838F;
                font-size: 20px;
            }

        }
    }

    .about-details {
        width: 90%;

        .about-details-text {
            width: 70%;

            h1 {
                font-size: 40px;
                color: #EB6B2A;
            }

            h3 {
                color: #3F485E;
                font-size: 28px;
                font-weight: 800;
                margin: 20px 0px 40px 0px;
            }

            .details-items {
                flex-wrap: wrap;

                .details-item {
                    width: 45%;
                    margin: 10px;

                    .details-item-image {
                        width: 20%;

                        img {
                            width: 50px;
                            height: 49px;
                        }
                    }

                    .details-item-text {
                        width: 70%;
                        word-wrap: break-word;

                        h4 {
                            margin-bottom: 15px;
                        }
                    }
                }
            }

        }

        .about-details-image {
            width: 400px;
            height: 400px;
            align-self: flex-end;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}



@media (max-width : 1090px) {
    .about {
        .about-details {
            flex-direction: column;

            .about-details-text {
                .details-items {
                    width: 100%;

                    .details-item {
                        width: 100%;
                        margin: 20px;

                        .details-item-image {
                            width: 30%;
                        }
                    }
                }
            }

            .about-details-image {
                align-self: center;
            }
        }
    }
}

@media (max-width : 600px) {
    .about {
        .about-title {
            .title-description {
                width: 300px;
            }
        }
    }

}