.contact-field-component {
    width: 100%;
    margin-top: 30px;
    position: relative;

    input,
    textarea {
        border: 1px solid grey;
        padding: 20px;
        box-shadow: 4px 8px 20px 0px rgb(219, 218, 218);

        &:focus {
            outline: none;
        }
    }

    h5 {
        margin-bottom: 15px;
    }

    input {
        border-radius: 50px;
    }

    textarea {
        border-radius: 20px;
    }

    .contact-optional {
        position: absolute;
        right: 20px;
        bottom: -20px;
        font-size: 13px;
    }
}